{% extends 'core/base.html' %}
{% load static %}

{%block title%}
Stations
{%endblock title%}
{% block content %}

<section id="map_and_stations_view">
    <div class="columns is-full-hd">

        <!-- The map -->
        <div class="column is-7 h-50" id="id_map">
        </div>

        <!-- Search "form" -->
        <div class="column is-5 g-0 lighten-5 vh-50">
            <div class="field">
                <h4>Find Stations</h4>
                <form method="get">
                <input type="text" class="input" placeholder="Station name" name="station_search" id="id_search">
                </form>
                <ul class="suggestions"></ul>
            </div>

            <!-- The search results as a list of stations -->
            <div class="results" style="max-height:36vh; overflow-y:scroll;">
                {% if stations %}
                <section class="bg-washed-blue">
                    <article class="ba b--black-10 br2 bg-white pa4 center">
                        <ul id="id_station_list" class="list f5">

                        <!-- All stations are rendered here or none if none are found -->
                        {% for s in stations %}    
                        <li class="pv2">
                            <a onClick="get_station_info({{s.station_id}})" class="link blue lh-title">
                                <span class="fw7 underline-hover">{{s.name_fin}}, {{s.name_swe}}</span>
                                <span class="db black-60">{{s.address_fin}}, {{s.address_swe}}</span>
                            </a>
                        </li>  
                        {% endfor %}
                    </ul>
                </section>
                {%else%}
                <p>No stations found</p>
                {%endif%}
            </div>
        </div>
    </div>
</section>

<!-- The station information section -->
<section id="information">
    <div class="columns pa4 is-full-hd bg-white mt3 h-50">
        <div class="column is-4 lighten-3 station_info_div is-halfheight pb-6 tc">
            <h3 class="b title is-6">Station information:</h3><br>
            <input type="hidden" id="id_station">
            <ul class="info_ul">
                <li>Station Name: -</li>
                <li>Station Address: -</li>
                <li>City: -</li>
                <li>Operator: -</li>
                <li>Departures from station: -</li>
                <li>Returns to station: -</li>
                <li>Average distance from the station: -</li>
                <li>Average distance to the station: -</li>
            </ul>
        </div>

        <div class="column is-3 is-mobile tc lighten-3 div_border is-halfheight pb-6">
            <h3 class="b title is-6">Most popular return stations from this point:</h3><br>
            <table id="id_station_dep_most_pop_ret" class="table center is-hoverable">
                <tr>
                    <td></td>
                </tr>
            </table>
            
        </div>

        <div class="column is-3 is-mobile tc lighten-3 div_border is-halfheight pb-6">
            <h3 class="b title is-6">Most popular departure stations to this point:</h3><br>
            <table id="id_station_ret_most_pop_dep" class="table center is-hoverable">
                <tr>
                    <td></td>
                </tr>
            </table>
            
        </div>

    <!-- Sorting by month -->
    <div class="column tc">
        <label for="id_month">Month: </label>
        <select name="month" class="w4" id="id_month" disabled>
            <option selected>All</option>
            <option value="jan">January</option>
            <option value="feb">February</option>
            <option value="mar">March</option>
            <option value="apr">April</option>
            <option value="may">May</option>
            <option value="jun">June</option>
            <option value="jul">July</option>
            <option value="aug">August</option>
            <option value="sep">September</option>
            <option value="oct">October</option>
            <option value="nov">November</option>
            <option value="dec">December</option>
        </select>
    </div>
</section>

<script src="{% static 'stations/script_stations.js' %}"></script>

{%endblock content%}