{%load static%}

<!-- Loader partial for every ongoing task -->
<div id="loader" class="notification pa-0 px-5 m-0 has-background-white">
  <div class='progress-wrapper h3'>
      <div class="columns">
        <div id='progress-bar' class='column progress-bar pa2' style="background-color: #ffffff; width: 0%; height: 0.8rem">
          &nbsp;
        </div>
      </div>
      <div class="columns is-flex is-justify-content-left is-align-content-center">
        <div class="mt2 pa0">
          <a class="button is-danger mt1 is-small" onClick="terminateProcess('{{task_id}}')">Stop</a>
        </div>
        <div class="is-align-self-center mt-2 ml-2 pa0" id="progress-bar-message">
          Waiting for progress to start...
        </div>
      </div>
  </div>
</div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
    CeleryProgressBar.initProgressBar(progressUrl, {
      pollInterval: 1000,
      });
    });
    const terminateProcess = async(task_id) => {
      console.log("Process terminated")
      try {
        const response = await fetch(`/celery_progress_terminate/${task_id}`)
        const data = await response.json()
        result = JSON.parse(data)

        // Clear the loader instance and write 'Task Terminated'
        let el = document.getElementById('loader').innerHTML = 
        `<div id="progress-bar-message">${result.task_status}</div>`
        return data
      } catch (e) {
        console.error('Error!')
      }
    } 
  </script>