{%load static%}

<!-- Loader partial for every ongoing task -->
<div id="loader" class="notification">
  <button class="delete" onClick="hideProgressBar()"></button>

  <div class='progress-wrapper'>
      <div class="columns">
        <div id='progress-bar' class='column-is-9 p-2 progress-bar' style="background-color: #68a9ef; width: 0%; height: 1.5rem">
          &nbsp;
        </div>
      </div>
      <div class="columns">
        <div class="column-is-2 pa2">
          <a class="button p-2 is-danger" onClick="terminateProcess('{{task_id}}')">Cancel</a>
          <div class="column-is-10 pa2">
          <div id="progress-bar-message">Waiting for progress to start...</div>
          </div>
        </div>
      </div>
  </div>
  
</div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
    const loader = document.getElementById('loader')
    loader.classList.toggle('show_loader')
    CeleryProgressBar.initProgressBar(progressUrl);
  });
    const terminateProcess = (task_id) => {
      console.log("Process terminated")
      try {
        const response = fetch(`/celery_progress_terminate/${task_id}`)
        console.log(response)
        const data = JSON.parse(response.data)
        document.getElementById('progress-bar-message').innerHTML = data.task_status;

        return data
      } catch (e) {
        console.error('Error!')
      }
    } 
  </script>