{% extends 'core/base.html' %}

{%block title%}
Login
{%endblock title%}

{%block content%}

<h1>Login</h1>

<div id="id_form_group">
    {% if form.errors %}
    <div class="mt-2 alert alert-warning alert-dismissible fade show" role="alert">
        Lomakkeen tiedoista löytyi virhe.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endif %}
    <form method="POST" action="{% url 'core:login' %}">
        {% csrf_token %}
            {{form.as_p}}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" id="id_submit" class="b ph4 pv2 input-reset ba b--black bg-transparent grow pointer mv3 f6 dib" value="Login">
    </form>
</div>
<script>
    var inputs = document.querySelectorAll('#id_form_group input');
    for (input of inputs) {
        input.classList.add("input-reset", "ba", "b--black-20", "pa2", "mb2", "db", "w-20");
    }
/*    var div = document.getElementById("id_form_group");
    var form = div.getElementsByTagName("form")[0];
    form.classList.add("measure", "center")
    var label = div.getElementsByTagName("label")[0];
    label.classList.add("db", "fw6", "lh-copy", "f6")
    var input = div.getElementsByTagName("input")[0];
    input.classList.add("input-reset", "ba", "b--black-20", "pa2", "mb2", "db" )*/
    
    
</script>

{%endblock content%}