:root {
  --base: hsl(60, 87%, 55%);
  --c-blue: #485fc7;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--c-blue) !important;
}

main {
  background-color: var(--c-blue);
  font-family: 'Saira Condensed', sans-serif;
  padding: 0.2rem;
}

.container {
  background-color: var(--base);
  border: 1px transparent var(--base);
  border-radius: 2vh;
}

#id_file_name {
  box-sizing: border-box;
  border: 2px solid #000;
  background: none;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.1em;
  background: var(--c-blue);
  color: #fff;
  border: #fff;
  border-radius: 10px;
  height: 50px;
}

#id_form_group {
  box-sizing: border-box;
  border: 2px solid #000;
  background: none;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1.1em;
  border: black;
  border-radius: 10px;
}

#csv_loader {
    background-color: hsl(56, 51%, 90%);
  }

/* Map element */
#id_map {
    padding: 10px;
    min-height: 50vh;
    border: 8px solid hsl(56, 51%, 90%);
}

/* Limits element height to half the view height */
.vh-50 {max-height: 50vh;}

/* Highlight station search suggestions */
.hl {
  background: var(--base);
}

.loader_div {
  display: none;
}

/* Custom checkbox */
.checkbox_cls {
  padding-top: 10px;
}
.checkbox_cls input[type="checkbox"]{
  height: 20px;
  width: 20px;
}

/* Loader Button */
.loader_btn {
  text-align: right;
  z-index: 5;
}

.loader_btn button {
  height: 80px;
  width: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 5px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(120, 113, 113, 0.2);
}

.loader_btn button:hover {
  height: 80px;
  width: 80px;
  background-color: #acf9d8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24),
  2 8px 5px -4px rgba(0, 0, 0, 0.22), 0 3px 7px 0 rgba(120, 113, 113, 1.2);
}

.loader_btn .button-five {
  background-color: #98facf;
  border: 2px rgb(56, 165, 98) solid;
  border-radius: 50%;
} 

#burger-div {
  display: none;
}

.bg {
  opacity:0.5;

}

/* Affecting the search result table header in mobile */
@media screen and (max-width: 768px) {
  #search_header {
    display: none;
  }

}