:root {
  --base: hsl(60, 87%, 55%);
  --c-blue: #485fc7;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--c-blue) !important;
}

main {
  background-color: var(--c-blue);
  padding: 0.2rem;
}

.container {
  background-color: var(--base);
  border: 1px transparent var(--base);
  border-radius: 3%;
}

#id_file_name {
    box-sizing: border-box;
    border: 2px solid #000;
    background: none;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.1em;
    background-image: linear-gradient(to right, var(--c-blue), dodgerblue);
    color: #fff;
    border: #fff;
    border-radius: 10px;
    height: 50px;
  }
  
  #csv_loader {
    background-color: hsl(56, 51%, 90%);
  }

  /* Map element */
  #id_map {
      padding: 10px;
      border: 8px solid hsl(56, 51%, 90%);
  }

  /* Limits element height to half the view height */
  .vh-50 {max-height: 50vh;}

  /* Highlight station search suggestions */
  .hl {
    background: var(--base);
  }

.show_loader {
  display: block;
}