{% extends 'core/base.html' %}
{% load static %}
{% load querystring_tag %}

{%block title%}
Journeys
{%endblock title%}

<!-- Main page -->
{% block content %}

<div class="columns is-full-hd">
    <div class="column is-8 has_margin vh-50" id="id_map">
    </div>
    <div class="measure center column is-4-widescreen is-one-thirds-tablet mh-30">

        <!-- Search form -->
        <form id="id_journey_form" action="{% url 'journeys:search_journeys' %}">
            <legend>Departure Station: </legend>
            {% comment %} <input type="text" autocomplete="off" class="input-reset ba b--black-20 pa2 mb2 db w-100" id="id_search_field" placeholder="Station name" name="search">   {% endcomment %}
            <label class="db fw6 lh-copy f6" for="id_departure">
            <input type="text" autocomplete="off" class="input-reset ba b--black-20 pa2 mb2 db w-100" name="journey_dep_station" id="id_departure" maxlength="30"
            placeholder="Departure station"></label>
            
            <legend>Return Station: </legend>
            <label class="db fw6 lh-copy f6" for="id_return">
            <input type="text" autocomplete="off" class="input-reset ba b--black-20 pa2 mb2 db w-100" name="journey_ret_station" id="id_return" maxlength="30"
            placeholder="Return station"></label>
            
            <div class="h-50">
                <!-- Departure- / Return Time -->
                <legend>Date: </legend>
                <input type="text" class="input-reset ba b--black-20 pa2 mb2 db w-100" id="id_calc_month" name="daterange"/>
                
                <!-- Distance -->
                <legend>Distance <small>(m)</small>: </legend>
                <div class="columns">
                    <div class="column w-50-is-desktop">
                        <label class="db fw6 lh-copy f6" for="id_min-distance">Min: </label>
                        <input class="input-reset ba b--black-20 pa2 db w-100" type="number" id="id_min-distance" name="distance" value="10" min-value="10"/>
                    </div>

                    <div class="column w-50-is-desktop">
                        <label class="db fw6 lh-copy f6" for="id_max-distance">Max: </label>
                        <input class="input-reset ba b--black-20 pa2 db w-100" type="number" id="id_max-distance" name="distance" value="10000"/>
                    </div>
                </div>

                <!-- Duration -->
                <legend>Duration <small>(s)</small>: </legend>
                <div class="columns">
                    <div class="column w-50-is-widescreen">
                        <label class="db fw6 lh-copy f6" for="id_min-duration">Min: </label>
                        <input class="input-reset ba b--black-20 pa2 db w-100"  type="number" id="id_min-duration" name="duration" value="10" min-value="10"/>
                    </div>
                    <div class="column w-50-is-widescreen">
                        <label class="db fw6 lh-copy f6" for="id_max-duration">Max: </label>
                        <input class="input-reset ba b--black-20 pa2 db w-100" type="number" id="id_max-duration" name="duration" value="10000"/>
                    </div>
                </div>
            </div>

            <button type="submit" id="id_submit" class="b ph4 pv2 input-reset ba b--black bg-transparent grow pointer mv3 f6 dib" disabled="true">Search</button> 
            <output class="pa2" id="errors"></output>
        </form>
    </div>
</div>

<!-- Search Results -->
<div class="columns is-full-hd mh-40">
    <div class="column is-10 pa0">
        <ul class="table w-100 ba b--black-20" cellspacing="0">
            <div class="table-container h5" style="overflow-y:scroll">
                {%if search_results %}
                <tbody class="lh-copy">
                    {% include 'journeys/search_partial.html' %}
                </tbody>
                {%endif%}
            </div>
        </ul>
    </div>

    <!-- Order by -div -->
    <div id="div_ordering" class="column is-2 ma3 tc bb bt b--black-20 my0">
        <h2 class="h2">Order Results By:</h2>
        <ul class="fa4 fw5">
            <li><a href="{% querystring discard 'order_by' %}&order_by=departure_time&direction={{direction}}">
                <i class="fa-solid fa-person-biking"></i>&nbsp; Departure</li></a>
            <li><a href="{% querystring discard 'order_by' %}&order_by=return_time&direction={{direction}}">
                <i class="fa-solid fa-person-biking"></i>&nbsp; Return</li></a>
            <li><a href="{% querystring discard 'order_by' %}&order_by=departure_station_name&direction={{direction}}">
                <i class="fa-solid fa-location-dot"></i>&nbsp; Departure Station</li></a>
            <li><a href="{% querystring discard 'order_by' %}&order_by=return_station_name&direction={{direction}}">
                <i class="fa-solid fa-location-dot"></i>&nbsp; Return Station</li></a>
            <li><a href="{% querystring discard 'order_by' %}&order_by=covered_distance&direction={{direction}}">
                <i class="fa-solid fa-people-arrows"></i>&nbsp; Covered Distance <small>(m)</small></li></a>
            <li><a href="{% querystring discard 'order_by' %}&order_by=duration&direction={{direction}}">
                <i class="fa-solid fa-hourglass-half"></i>&nbsp; Duration</li></a>
        </ul>
    </div>
</div>

<div class="columns is-full-hd is-vcentered mx-3 mw-12">     
    <!-- Pagination rendered dynamically -->
    {%if search_results %}
    <div class="column is-8">
        {% include 'journeys/pagination.html' %}
    </div>
    <div class="column is-4">
        <h5>Your search matches {{search_results_count}} results</h5>
    </div>
    {% else %}
    <div class="column is-4">
        <p class="text-center">No journeys</p>
    </div>
    {% endif %}
</div>
</div>
        
<script src="{% static 'journeys/leaflet_scripts/leaflet.geometryutil.js' %}"></script>
<script src="{% static 'journeys/leaflet_scripts/leaflet-arrowheads.js' %}"></script>
<script src="{% static 'journeys/script_journeys.js' %}"></script>

{%endblock content%}