{% extends 'core/base.html' %}
{% load static %}
{% load querystring_tag %}

{%block title%}
Journeys
{%endblock title%}

<!-- Main page -->
{% block content %}

<div class="columns is-full-hd">
    <div class="column is-8 has_margin vh-50" id="id_map">
    </div>
    <div class="measure center column is-4-widescreen is-one-thirds-tablet" style="max-height:38vh;">

        <!-- Search form -->
        <form id="id_journey_form" action="{% url 'journeys:search_journeys' %}">
            <legend>Departure Station: </legend>
            {% comment %} <input type="text" autocomplete="off" class="input-reset ba b--black-20 pa2 mb2 db w-100" id="id_search_field" placeholder="Station name" name="search">   {% endcomment %}
            <label class="db fw6 lh-copy f6" for="id_departure">
            <input type="text" autocomplete="off" class="input-reset ba b--black-20 pa2 mb2 db w-100" name="journey_dep_station" id="id_departure" maxlength="30"
            placeholder="Departure station"></label>
            
            <legend>Return Station: </legend>
            <label class="db fw6 lh-copy f6" for="id_return">
            <input type="text" autocomplete="off" class="input-reset ba b--black-20 pa2 mb2 db w-100" name="journey_ret_station" id="id_return" maxlength="30"
            placeholder="Return station"></label>
            
            <div style="max-height:30vh; overflow-y:scroll">
                <!-- Departure- / Return Time -->
                <legend>Date: </legend>
                <input type="text" class="input-reset ba b--black-20 pa2 mb2 db w-100" id="id_calc_month" name="daterange"/>
                
                <legend>Distance <small>(m)</small>: </legend>
                <div class="column">
                    <label class="db fw6 lh-copy f6" for="id_min-distance">Min: </label>
                    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" id="id_min-distance" name="distance" value="10" min-value="10"/>
                    <label class="db fw6 lh-copy f6" for="id_max-distance">Max: </label>
                    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" id="id_max-distance" name="distance" value="10000"/>
                </div>
                
                <legend>Duration <small>(s)</small>: </legend>
                <div class="column">
                    <label class="db fw6 lh-copy f6" for="id_min-duration">Min: </label>
                    <input class="input-reset ba b--black-20 pa2 mb2 db w-100"  type="number" id="id_min-duration" name="duration" value="10" min-value="10"/>
                    <label class="db fw6 lh-copy f6" for="id_max-duration">Max: </label>
                    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" id="id_max-duration" name="duration" value="10000"/>
                </div>
            </div>
            <button type="submit" id="id_submit" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" disabled="true">Search</button> 
            <output id="errors"></output>
        </form>
    </div>
</div>

<!-- Search Results -->
{%if search_results %}
<div class="columns is-full-hd is-vcentered h3">
    
    <div class="column is-8">
        <h5>Your search matches {{search_results.count}} results</h5>
    </div>
    <div class="column is-4 tr">
        <a href="{% querystring discard 'direction' %}&direction=asc" class="mx-2">Ascending</a>
        <a href="{% querystring discard 'direction' %}&direction=desc" class="mx-2">Descending</a>
    </div>
</div>
<div class="columns is-full-hd" style="max-height:45vh;">
    <table class="table w-100" cellspacing="0">
        <thead>
            <tr>
                <th>Journey</th>
                <th><a href="{% querystring discard 'order_by' %}&order_by=departure_time">Departure</th></a>
                <th><a href="{% querystring discard 'order_by' %}&order_by=return_time">Return</th></a>
                <th><a href="{% querystring discard 'order_by' %}&order_by=departure_station">Departure Station</th></a>
                <th><a href="{% querystring discard 'order_by' %}&order_by=return_station">Return Station</th></a>
                <th><a href="{% querystring discard 'order_by' %}&order_by=covered_distance">Covered Distance <small>(m)</small></th></a>
                <th><a href="{% querystring discard 'order_by' %}&order_by=duration">Duration</th></a>
            </tr>
        </thead>
        <div class="table-container" style="overflow-y:scroll">
            <tbody class="lh-copy">
                    {% include 'journeys/search_partial.html' %}
            </tbody>
        </div>
    </table>
</div>
{%endif%}

<!-- Pagination rendered dynamically -->
{% if search_results %}
    {% include 'journeys/pagination.html' %}
{% else %}
    <p class="text-center">No journeys</p>
{% endif %}
        
<script src="{% static 'journeys/leaflet_scripts/leaflet.geometryutil.js' %}"></script>
<script src="{% static 'journeys/leaflet_scripts/leaflet-arrowheads.js' %}"></script>
<script src="{% static 'journeys/script_journeys.js' %}"></script>

{%endblock content%}