<div class="columns ba b--black-10 pt2 h3-is-desktop h4-is-tablet h6-is-mobile center tc">
    <li class="column is-3-widescreen is-1-tablet is-mobile fw2 center h1"><small>Journey</small></li>
    <li class="column is-1-widescreen is-1-tablet is-mobile fw2 center h1"><small>Departure</small></li>
    <li class="column is-1-widescreen is-2-tablet is-mobile fw2 center h1"><small>Return</small></li>
    <li class="column is-2-widescreen is-2-tablet is-mobile fw2 center h1"><small>Dep. Station</small></li>
    <li class="column is-2-widescreen is-2-tablet is-mobile fw2 center h1"><small>Ret. Station</small></li>
    <li class="column is-1-widescreen is-1-tablet is-mobile fw2 center h1"><small>Dist.(m)</small></li>
    <li class="column is-1-widescreen is-1-tablet is-mobile fw2 center h1"><small>Duration</small></li>
</div>
{%for result in page_obj %}
    <div class="columns ba b--black-10 pt2 h3-is-desktop h4-is-tablet h6-is-mobile center tc">
        <li class="column is-3-widescreen is-2-tablet is-mobile pr3 f6 f6-ns fw6 ">
            <i class="fa-solid fa-map"></i>&nbsp; <a href="#id_map" onclick="get_journey({{result.id}})">
            {{result.departure_station_name}} <i class="fa-solid fa-arrow-right-long w-10"></i> {{result.return_station_name}}
            </a>
        </li>
        <li class="column is-1-widescreen is-1-tablet is-mobile fw3 measure-narrow center ph1 pv1">{{result.departure_time}}</li>
        <li class="column is-1-widescreen is-1-tablet is-mobile fw3 measure-narrow center ph1 pv1">{{result.return_time}}</li>
        <li class="column is-2-widescreen is-2-tablet is-mobile fw3 measure-narrow center ph1 pv1">{{result.departure_station_name}}</li>
        <li class="column is-2-widescreen is-2-tablet is-mobile fw3 measure-narrow center ph1 pv1">{{result.return_station_name}}</li>
        <li class="column is-1-widescreen is-1-tablet is-mobile fw3 measure-narrow center ph1 pv1">{{result.covered_distance|default:"-"}}</li>
        <li class="column is-1-widescreen is-1-tablet is-mobile fw3 measure-narrow center ph1 pv1">{{result.duration}}</li>
    </div>
    {%endfor%}
