{%for result in page_obj %}
    <a href="#id_map" onclick="get_journey({{result.id}})">{{result.departure_station_name}} ->->-> {{result.return_station_name}}</a>
    <p>Departure Time : {{result.departure_time}}</p>
    <p>Return Time : {{result.return_time}}</p>
    <p>Departure Station : {{result.departure_station_name}}</p>
    <p>Return Station : {{result.return_station_name}}</p>
    <p>Distance : {{result.covered_distance|default:"-"}} (m)</p>
    <p>Duration : {{result.duration_format}}</p><br>
{%endfor%}